<style>
    /* 基本样式 */
    .navbar {
      background-color: #333;
      padding: 10px;
    }

    .navbar-item {
      color: white;
      text-decoration: none;
      padding: 10px;
      display: block;
    }

    .navbar-item:hover {
      background-color: #555;
    }

    /* 下拉菜单样式 */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 10px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* 悬停或点击时显示下拉菜单 */
    .dropdown:hover .dropdown-content,
    .dropdown:focus-within .dropdown-content {
      display: block;
    }

    .dropdown-content strong {
      display: block;
      padding: 5px 10px;
      background-color: #f1f1f1;
    }
  </style>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li>
            <div class="navbar">
              <div class="dropdown">
                <a class="navbar-item">My Research</a>
                <div class="dropdown-content">
                  <strong>Benchmark</strong>
                  <a href="https://Qiyao-Wang.github.io/ipeval/">IPEval</a>
                  <strong>Patent</strong>
                  <a href="https://Qiyao-Wang.github.io/AutoPatent/">AutoPatent</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
