---
layout: compress
---
<!doctype html>
<html lang="en" class="no-js">
  
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <body>
    {% include browser-upgrade.html %}
    <div class="masthead" style="container">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          <ul class="visible-links">
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="https://qiyao-wang.github.io/">Homepage</a></li>
<!--             <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
    <div id="main" role="main">
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">

            <h1>📖 Qiyao Wang's Blog</h1>
            <h2>2025</h2>
            <ul>
              <li><em>Jan. 01, 2025</em>. <a href="https://qiyao-wang.github.io/blogs/2025/CMU_DLSys_Hw0.html">CMU DLSys Course Homework 0: Implementation and Reflection</a>. Language: Chinese. <font color="gray">#MLSys</font></li>
            </ul>

            <h1>📒 Research/Study Note</h1>
            <h2>Computer Science and Artificial Intelligence</h2>
            <ul>
              <li><em>Dec. 28, 2024</em>. <a href="https://mathsion.notion.site/Pattern-Recognition-Machine-Learning-ce6d699ec88744a08dea19e859535ec8?pvs=4">Pattern Recognition and Machine Learning</a>. Language: Chinese. 
            </ul>
           
          </section>
        </div>
      </article>
    </div>
    {% include scripts.html %}
  </body>
</html>
