---
layout: compress
---
<!doctype html>
<html lang="en" class="no-js">
  
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <title>LLM4Patent</title>
  </head>
  <body>
    {% include browser-upgrade.html %}
    <div class="masthead" style="container">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          <ul class="visible-links">
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="https://qiyao-wang.github.io/">Homepage</a></li>
            <li class="masthead__menu-item"><a href="https://qiyao-wang.github.io/ipeval/">IPEval</a></li>
            <li class="masthead__menu-item"><a href="https://qiyao-wang.github.io/AutoPatent/">AutoPatent</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
    <div id="main" role="main">

      <div class="sidebar sticky">
        <div id="toc"></div>
      </div>
      
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">

            <h1>Large Language Models for Patent</h1>
            <p><strong>Team</strong>: Shenzhen Institute of Advanced Technology, Chinese Academy of Sciences; Dalian University of Technology</p>
            <p><strong>Student Member</strong>: <a href="https://wangqiyao.me/">Qiyao Wang</a></p>
            <div>
              <strong>Collections</strong>: 
              <a href="https://huggingface.co/collections/QiYao-Wang/llms-for-patent-678e6dbc8af7a3998738cc57" target="_blank">
                <img src="https://img.shields.io/badge/%F0%9F%A4%97%20Hugging%20Face-blue?label=Collection-LLMs4Patent" alt="Hugging Face Badge">
              </a>
            </div>
            <h2>News</h2>

            <h2>Introduction</h2>

            <h2>Our Work</h2>
            <sup>*</sup>Equal Contribution and <sup>†</sup> Corresponding Author

            <div class='paper-box'><div class='paper-box-image'><div><div class="badge">Preprint</div><img src='../images/publications/autopatent.png' alt="sym" width="100%"></div></div>
              <div class='paper-box-text' markdown="1">
                <p><a href="https://arxiv.org/pdf/2412.09796">AutoPatent: A Multi-Agent Framework for Automatic Patent Generation</a></p>
                <p><em><strong>Qiyao Wang<sup>*</sup></strong>, Shiwen Ni<sup>*</sup>, Huaren Liu, Shule Lu, Guhong Chen, Xi Feng, Chi Wei, Qiang Qu, Hamid Alinejad-Rokny, Yuan Lin<sup>†</sup>, Min Yang<sup>†</sup></em></p>
                <p><strong>TL;DR: </strong>We introduce Draft2Patent, a novel task for generating full-length patents (~17K tokens) from drafts, along with the D2P benchmark Our AutoPatent framework, leveraging a multi-agent system, excels in patent generation, with Qwen2.5-7B outperforming larger models like GPT-4o and Qwen2.5-72B in metrics and human evaluations.</p>
              </div>
            </div>

            <div class='paper-box'><div class='paper-box-image'><div><div class="badge">Arxiv</div><img src='../images/publications/ipeval.png' alt="sym" width="100%"></div></div>
              <div class='paper-box-text' markdown="1">
                <p><a href="https://arxiv.org/pdf/2406.12386">IPEval: A Bilingual Intellectual Property Agency Consultation Evaluation Benchmark for Large Language Models</a></p>
                <p><em><strong>Qiyao Wang</strong>, Jianguo Huang, Shule Lu, Yuan Lin<sup>†</sup>, Kan Xu, Liang Yang, Hongfei Lin</em></p>
                <p><strong>TL;DR: </strong>IPEval introduces a benchmark for assessing Large Language Models' (LLMs) performance in intellectual property (IP) law with 2,657 questions. It evaluates LLMs across key IP areas using zero-shot, 5-few-shot, and Chain of Thought (CoT) approaches. Findings highlight the need for specialized IP LLMs due to language proficiency bias. The benchmark is crucial for developing LLMs with deeper IP knowledge.</p>
              </div>
            </div>
           
          </section>
        </div>
      </article>
    </div>
    {% include scripts.html %}
    <script>
        // 动态生成目录
        const toc = document.getElementById('toc');
        toc.innerHTML = '<strong>Table of Contents</strong>';

        const ul = document.createElement('ul');
        toc.appendChild(ul);

        // 获取所有标题
        const headers = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
        headers.forEach(header => {
            const li = document.createElement('li');
            li.style.marginLeft = `${(parseInt(header.tagName[1]) - 1) * 10}px`;

            const a = document.createElement('a');
            a.href = `#${header.id || header.innerText.replace(/\s+/g, '-').toLowerCase()}`;
            a.textContent = header.innerText;
            a.target="_self";

            if (!header.id) {
                header.id = header.innerText.replace(/\s+/g, '-').toLowerCase();
            }

            li.appendChild(a);
            ul.appendChild(li);
        });
    </script>
  </body>
</html>
