---
layout: compress
---
<!doctype html>
<html lang="en" class="no-js">
  
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <title>LLM4Patent</title>

    <style>
.dropdown-content {
  display: none; /* 默认隐藏 */
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 2px;
  z-index: 1;
  border-radius: 5px;
  list-style-type: none;
}

/* 确保下拉菜单是 **竖直排列** */
.dropdown-content li {
  display: block;  /* 让每个 <li> 独占一行 */
  padding: 2px;
  text-align: left; /* 让文本左对齐 */
  margin-left: 5px;
}

/* 确保 <a> 标签也独占一行 */
.dropdown-content a {
  display: block;  /* 让 <a> 也单独一行 */
  text-decoration: none;
  color: gray;
}

/* 加粗的标题样式 */
.dropdown-content strong {
  font-weight: bold;
  color: black;
}

/* 显示菜单 */
.dropdown-content.show {
  display: block;
}
</style>
    
  </head>
  <body>
    {% include browser-upgrade.html %}
    <div class="masthead" style="container">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          <ul class="visible-links">
            <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="https://qiyao-wang.github.io/">Homepage</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
    <div id="main" role="main">

      <div class="sidebar sticky">
        <div id="toc"></div>
      </div>
      
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">

            <h1>Large Language Models for Patent</h1>
            <p><strong>Team</strong>: Shenzhen Institute of Advanced Technology, Chinese Academy of Sciences; Dalian University of Technology</p>
            <p><strong>Student Member</strong>: <a href="https://wangqiyao.me/">Qiyao Wang</a></p>
            <div>
              <strong>Collections</strong>: 
              <a href="https://huggingface.co/collections/QiYao-Wang/llms-for-patent-678e6dbc8af7a3998738cc57" target="_blank">
                <img src="https://img.shields.io/badge/%F0%9F%A4%97%20Hugging%20Face-blue?label=Collection-LLMs4Patent" alt="Hugging Face Badge">
              </a>
            </div>
            <h2>News</h2>
            <div>
              <ul>
                <li>
                    <strong>[2024-12-20]</strong> 🥳 The AutoPatent has been fortunate to receive attention and coverage from 
                    <a href="https://mp.weixin.qq.com/s/H6zsbruPl4wtYOFCOIphBA" target="_blank">Xin Zhi Yuan</a>, 
                    and it will continue to be expanded and improved in the future.
                </li>
                <li>
                  <strong>[2024-12-13]</strong> 🎉 We release the first version of AutoPatent.
                </li>
            </ul>
            </div>

            <h2>Introduction</h2>

            <h2>Our Work</h2>
            <sup>*</sup>Equal Contribution and <sup>†</sup> Corresponding Author

            <div class='paper-box'><div class='paper-box-image'><div><div class="badge">Preprint</div><img src='../images/publications/ipbench.png' alt="sym" width="100%"></div></div>
              <div class='paper-box-text' markdown="1">
                <p><a href="">IPBench: Benchmarking the Knowledge of Large Language Models in Intellectual Property</a></p>
                <p><em><strong>Qiyao Wang</strong>, Guhong Chen, Hongbo Wang, Huaren Liu, Minghui Zhu, Zhifei Qin, Linwei Li, Yilin Yue, Shiqiang Wang, Jiayan Li, Yihang Wu, Ziqiang Liu, Longze Chen, Run Luo, Liyang Fan, Jiaming Li, Lei Zhang, Kan Xu, Hongfei Lin, Hamid Alinejad-Rokny, Shiwen Ni<sup>†</sup>, Yuan Lin<sup>†</sup>, Min Yang<sup>†</sup></em></p>
                <p>
                  <a href="https://IPBench.github.io">Website</a> |
                  <a href="https://arxiv.org/abs/2504.15524">Paper</a> |
                  <a href="https://github.com/IPBench/IPBench">Github</a>
                  <a href="https://github.com/IPBench/IPBench">
                    <img src="https://img.shields.io/github/stars/IPBench/IPBench" alt="IPBench">
                  </a>
                </p>
              </div>
            </div>
            
            <div class='paper-box'><div class='paper-box-image'><div><div class="badge">Preprint</div><img src='../images/publications/autopatent.png' alt="sym" width="100%"></div></div>
              <div class='paper-box-text' markdown="1">
                <p><a href="https://arxiv.org/pdf/2412.09796">AutoPatent: A Multi-Agent Framework for Automatic Patent Generation</a></p>
                <p><em><strong>Qiyao Wang<sup>*</sup></strong>, Shiwen Ni<sup>*</sup>, Huaren Liu, Shule Lu, Guhong Chen, Xi Feng, Chi Wei, Qiang Qu, Hamid Alinejad-Rokny, Yuan Lin<sup>†</sup>, Min Yang<sup>†</sup></em></p>
                <p><strong>TL;DR: </strong>We introduce Draft2Patent, a novel task for generating full-length patents (~17K tokens) from drafts, along with the D2P benchmark. Our AutoPatent framework, leveraging a multi-agent system, excels in patent generation, with Qwen2.5-7B outperforming larger models like GPT-4o and Qwen2.5-72B in metrics and human evaluations.</p>
                <p>
                  <a href="https://qiyao-wang.github.io/AutoPatent/">Website</a> |
                  <a href="https://arxiv.org/pdf/2412.09796">Paper</a> |
                  <a href="https://github.com/QiYao-Wang/AutoPatent">Github</a>
                  <a href="https://github.com/QiYao-Wang/AutoPatent">
                    <img src="https://img.shields.io/github/stars/QiYao-Wang/AutoPatent" alt="AutoPatent">
                  </a>
                </p>
              </div>
            </div>

            <div class='paper-box'><div class='paper-box-image'><div><div class="badge">Arxiv</div><img src='../images/publications/ipeval.png' alt="sym" width="100%"></div></div>
              <div class='paper-box-text' markdown="1">
                <p><a href="https://arxiv.org/pdf/2406.12386">IPEval: A Bilingual Intellectual Property Agency Consultation Evaluation Benchmark for Large Language Models</a></p>
                <p><em><strong>Qiyao Wang</strong>, Jianguo Huang, Shule Lu, Yuan Lin<sup>†</sup>, Kan Xu, Liang Yang, Hongfei Lin</em></p>
                <p><strong>TL;DR: </strong>IPEval introduces a benchmark for assessing Large Language Models' (LLMs) performance in intellectual property (IP) law with 2,657 questions. It evaluates LLMs across key IP areas using zero-shot, 5-few-shot, and Chain of Thought (CoT) approaches. Findings highlight the need for specialized IP LLMs due to language proficiency bias. The benchmark is crucial for developing LLMs with deeper IP knowledge.</p>
                <p>
                  <a href="https://Qiyao-Wang.github.io/ipeval">Website</a> |
                  <a href="https://arxiv.org/pdf/2406.12386">Paper</a> |
                  <a href="https://github.com/QiYao-Wang/IPEval">Github</a> |
                  <a href="https://huggingface.co/datasets/Mathsion/IPEval">HuggingFace</a>
                  <a href="https://github.com/QiYao-Wang/ipeval">
                    <img src="https://img.shields.io/github/stars/QiYao-Wang/ipeval" alt="IPEval">
                  </a>
                </p>
              </div>
            </div>
           
          </section>
        </div>
      </article>
    </div>
    {% include scripts.html %}
    <script>
        // 动态生成目录
        const toc = document.getElementById('toc');
        toc.innerHTML = '<strong>Table of Contents</strong>';

        const ul = document.createElement('ul');
        toc.appendChild(ul);

        // 获取所有标题
        const headers = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
        headers.forEach(header => {
            const li = document.createElement('li');
            li.style.marginLeft = `${(parseInt(header.tagName[1]) - 1) * 10}px`;

            const a = document.createElement('a');
            a.href = `#${header.id || header.innerText.replace(/\s+/g, '-').toLowerCase()}`;
            a.textContent = header.innerText;
            a.target="_self";

            if (!header.id) {
                header.id = header.innerText.replace(/\s+/g, '-').toLowerCase();
            }

            li.appendChild(a);
            ul.appendChild(li);
        });
    </script>
    <script>
document.addEventListener("DOMContentLoaded", function () {
  const toggleButton = document.getElementById("dropdown-toggle");
  const dropdownMenu = document.getElementById("dropdown-menu");

  // 切换下拉菜单的显示/隐藏
  toggleButton.addEventListener("click", function (event) {
    event.stopPropagation(); // 阻止事件冒泡，避免触发 document 的点击事件
    dropdownMenu.classList.toggle("show");
  });

  // 点击页面其他地方时，隐藏下拉菜单
  document.addEventListener("click", function (event) {
    if (!dropdownMenu.contains(event.target) && !toggleButton.contains(event.target)) {
      dropdownMenu.classList.remove("show");
    }
  });
});
</script>
  </body>
</html>
